
.mic-icon {
  margin: 0 2px 0 0;
  vertical-align: middle;
}
.block-menuicon ul.menu {
  padding: 0;
}
.block-menuicon ul.menu li {
  list-style-type: none;
  list-style-image: none;
/*  background: none; */
}
